*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: #374357;
}

header{
    background-color: #293241;
    height: 60px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

header > ul{
    gap: 30px;
}

li{
    list-style: none;
}

.active::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 3px;
    bottom: 5;
    left: 0;
    background-color: #b86bff;
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}