*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #374357;
    width: 100%;
    transition: .3s ease-in-out;
}

header{
    background-color: #293241;
    height: 60px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

header > ul{
    gap: 30px;
}

li{
    list-style: none;
}

.active::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 3px;
    bottom: 5;
    left: 0;
    background-color: #b86bff;
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
    animation: .2s UnderlineFromLeft ease-in-out;
}
.active{
    color: #b86bff;
}


main{
    margin-top: 60px;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.one{
    background-color: #253144;
    margin-bottom: 100px;
}

.one > h1{
    font-size: 55px;
    text-align: center;
    background-image: linear-gradient(45deg, #fcb045, #5770ff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    letter-spacing: .5px;
    margin-bottom: 28px;
    margin-top: 50px;
}

.one > p{
    max-width: 550px;
    color: white;
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 50px;
}

.one > button{
    border: none;
    border-radius: 20px;
    padding: 13px;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 14px;
    transition: .3s ease-in-out;
    font-weight: 700;
    letter-spacing: .3px;
    margin-bottom: 70px;
    transition: background 1s;
    background: linear-gradient(90deg, #ff6c98, transparent) rgb(139, 102, 241) ;
}

.one > button:hover{
    background-color: #ffba59;
}

.one > button > a{
    text-decoration: none;
    color: black;
}

.two > div > .top-grid > h2, .two > div > .second-top-grid > h2{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.two{
    gap: 40px;
}

.top-grid, .second-top-grid{
    padding-left: 100px;
    padding-right: 60px;
    background-color: #242c39;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .8px;
}

.tout-voir{
    margin-left: auto;
    background-color: #6F7788;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s ease-in-out;
    color: white;
    font-size: 14px;
}
.tout-voir:hover{
    background-color: #E6F4F1;
    transition: .3s ease-in-out;
    color: black;
}


.grid{
    display: flex;
    flex-wrap: wrap;
    background-color: #253144;
    padding: 35px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
    max-width: 1100px;
    gap:50px;
    transition: .3s ease-in-out;
}
.second-grid{
    display: grid;
    background-color: #253144;
    padding: 35px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    gap:35px;
}

.box{
    background-color: #1c222d;
    transition: .3s ease-in-out;
    cursor: pointer;
    max-width: 300px;
}

.box:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.01);
}

.img-normal{
    width: 300px;
    height: 199px;
}
.img-large{
    height: 100px;
    width: 100px;
}

.text{
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    padding-bottom: 0px;
}
.text > h5{
    font-size: 15px;
    cursor: text;
}

.text > p{
    margin-left: auto;
    color: #dd1e35;
    font-size: 13px;
    cursor: text;
}
.prix{
    color: #dd1e35;
    font-size: 13px;
    cursor: text;
}

.note{
    text-align: initial;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.note-individual{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    font-weight: 700;
    cursor: text;
    background-image: linear-gradient(45deg, rgba(135,227,207,1) 0%, #5770ff 100%);
}

.info{
    text-align: initial;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}
.info > div{
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
}
.processeur{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    cursor: text;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
}
.processeur > img{
    max-width: 25px;
    margin-right: 5px;
}

.graphic{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    cursor: text;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
}

.graphic > img{
    max-width: 25px;
    margin-right: 7px;
}

.trophy{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    cursor: text;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 20%, #FFCC70 100%);
    margin-bottom: 20px;
}